body {
    background-color: #ebebeb;
    margin: 0;
}

.container {
    display: flex;
    place-content: center;
    flex-direction: column;
}

.title-container {
    position: fixed;
    top: 0vh;
    width: 100%;
    margin: 0;
    background-color: #7a7373;
    opacity: 0.8;
    align-self: center;
    box-shadow: 0 0 10px 2px #888888;
}

.title {
    color: #FFF;
    font-size: 3.3vh;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding: 2.5vh;
}

.flag-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center;    
    padding-top: 10vh;    
    padding-bottom: 12vh;
}

.flag {
    width: 33vh;
    height: 20vh;
    margin: 1.8vw;
}

.flag img {
    width: 100%;
    height: 100%;
}

.install-banner {
    background-color: #7a7373;
    position: fixed;
    bottom: 5px;
    width: 80vw;
    height: 10vh;
    opacity: 0.8;
    align-self: center;
    box-shadow: 0 0 10px 2px #888888;
}

.install-banner-text {
    color: #FFF;
    font-size: 4vh;
    font-weight: bold;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2.5vh;
}