

body {
    background-color: #ebebeb;
}

.container {
    display: flex;
    place-content: center;
    flex-direction: column;
}

.title {
    font-size: 3vh;
    align-self: center;
    margin: 0;
}

.flag-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.flag {
    width: 33vh;
    height: 20vh;
    margin: 2vw;
}

.flag img {
    width: 100%;
    height: 100%;
}

.install-banner {
    background-color: #7a7373;
    position: fixed;
    bottom: 5px;
    width: 80vw;
    height: 10vh;
    opacity: 0.8;
    align-self: center;
}

.install-banner-text {
    color: #FFFFFF;
    font-size: 4vh;
    font-weight: bold;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2.5vh;
}