@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #ebebeb;
    margin: 0;
    font-family: 'RobotoRegular', 'Droid Sans', sans-serif;
    overflow-x: hidden !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none !important;
}

.container {
    display: flex;
    place-content: center;
    flex-direction: column;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.title-container {
    width: 100%;
    margin: 0;
    background-color: #0070ad;
    align-self: center;
    position: sticky;
    top: 0;
}

.title {
    color: #FFF;
    font-size: 3.3vh;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding: 2.5vh;
}

.flags-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    padding-bottom: 12vh;
}

.flag-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    place-items: center;
    padding: 1vh;
}

.active {
    place-content: center;
}

.disactive {
    place-content: right;
}

.flag-container:nth-child(odd) {
    background-color: #ebebeb;
}

.flag-container:nth-child(even) {
    background-color: #bde0f3;
}

.flag-text {
    padding: 1vh;
    width: 15vh;
    font-size: 4vh;
    touch-action: none;
    pointer-events: none;
}

.flag-text>span {
    touch-action: none;
}

.flag-text-hidden {
    padding: 1vh;
    font-size: 3vh;
    touch-action: none;
    pointer-events: none;
}

.flag {
    width: 20vh;
    height: 14vh;
    cursor: pointer;
    touch-action: none;
    pointer-events: none;
}

.flag img {
    width: 100%;
    height: 100%;
    touch-action: none;
    pointer-events: none;
}

.sticky {
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px 2px #888888;
}

.install {
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1682bc;
    align-items: center;

}

.header p {
    color: #FFF;
}

.header-close {
    margin-left: calc(2px + 2vw);
}

.header-install {
    margin-right: calc(2px + 2vw);
    background-color: #FFF;
    width: calc(40px + 10vw);
    max-width: 150px;
    min-height: 25px;
    min-width: 50px;
    height: 4vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-install p {
    width: 100%;
    color: #1682bc;
    font-size: calc(10px + .5vh);
    text-align: center;
}

.header-content {
    text-align: center;
    margin-left: calc(8px + 8vw);
}

.header-content p {
    margin: 0;
}