body {
    background-color: #ebebeb;
    margin: 0;
}

.container {
    display: flex;
    place-content: center;
    flex-direction: column;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    align-self: center;
}

.title {
    color: #FFF;
    font-size: 3.3vh;
    font-weight: bold;
    margin: 0;
    text-align: left;
    padding: 2.5vh 1.5vw;
    white-space: nowrap;
}

.flags-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.flag {
    width: 33vh;
    height: 20vh;
    margin: 1.8vw;
    cursor: pointer;
}

.flag img {
    width: 100%;
    height: 100%;
}

.install-banner {
    position: absolute;
    bottom: 10px;
    opacity: 0.8;
    align-self: center;
    box-shadow: 0 0 10px 2px #888888;
    cursor: pointer;
    display: block;
}

.install-banner-text {
    color: #FFF;
    font-size: 3vh;
    font-weight: bold;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 3vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }